@using Blogger.Enums
@model Post
@{
    ViewData["Title"] = "Edit Your Blog";
}
<partial name="~/Views/Shared/Common/_TitleNavigationPartial.cshtml" model='("Edit Blog", "/", "Dashboard", "Edit Your Blog")'></partial>
<div class="card">
    <form asp-action="Edit" method="post">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CategoryId)
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.CreatedAt)
        @Html.HiddenFor(model => model.PublishedAt)
        @Html.HiddenFor(model => model.UpdatedAt)
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="card-body">
            <div class="mb-3 row">
                <label asp-for="Title" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input class="form-control" type="text" asp-for="Title" placeholder="Enter the title of the blog">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Content" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <textarea class="form-control" style="resize: none;" asp-for="Content" rows="5"
                        placeholder="Write about your blog..."></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Slug" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input type="text" asp-for="Slug" class="form-control" placeholder="Enter the slug of the blog">
                    <span asp-validation-for="Slug"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Status" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<Status>()">
                        <option value="">Select the status of the blog</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a asp-action="List" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>